include setup.*
include COPYING
include CHANGELOG.md
include README.md
include pyproject.toml

recursive-include lightmotif           *.rs Cargo.toml README.md
recursive-include lightmotif-io        *.rs Cargo.toml README.md
recursive-include lightmotif-tfmpvalue *.rs Cargo.toml README.md
recursive-include lightmotif-py        *.rs Cargo.toml README.md *.py

exclude Cargo.toml
prune lightmotif/benches
prune lightmotif-io/benches

#include .cargo/config.toml
#recursive-include crates *
